[Desktop Entry]
Encoding=UTF-8
Name=GO with VS Code
Comment=lightweight but powerful source code editor
Exec=/10-Base/bin/code-go %F
Icon=/10-Base/ShortCuts/icons/go-icon.png
Categories=Application;Development;TextEditor
StartupNotify=false
Version=1.10.2
Type=Application
Terminal=0
Terminal=false
MimeType=text/plain;x-directory/normal;inode/directory;
