[Desktop Entry]
Name=DBeaver CE
Comment=Universal Database Manager and SQL Client.
Exec=/usr/bin/dbeaver
Icon=/10-Base/ShortCuts/icons/dbeaver.png
Categories=IDE;Development;SQLClient
StartupNotify=true
Type=Application
Terminal=false
MimeType=application/sql
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL;Oracle;DB2;MariaDB
StartupWMClass=DBeaver
Path=/20-DEV/dbeaver-ce/
