#!/usr/bin/env xdg-open

[Desktop Entry]
Name=FileZilla
Comment=FTP Client v3
Exec=/usr/bin/filezilla
Icon=/10-Base/ShortCuts/icons/filezilla.svg
Categories=Network;Tools
StartupNotify=false
Type=Application
Terminal=false
