[Desktop Entry]
Encoding=UTF-8
Name=GitEye
Comment=Graphical client for Git from CollabNet
Exec=/bin/GitEye %F
Icon=/10-Base/ShortCuts/icons/giteye.png
Categories=Application;Development
StartupNotify=false
Version=2.0.0.201701241830
Type=Application
Terminal=false
