[Desktop Entry]
Version=1.0
Name=Inkscape
GenericName=Vector Graphics Editor
Comment=Create and edit Scalable Vector Graphics images
Keywords=image;editor;vector;drawing;
Type=Application
Categories=Graphics;VectorGraphics;GTK;
MimeType=image/svg+xml;
Exec=/usr/bin/inkscape %F
TryExec=inkscape
Terminal=false
StartupNotify=true
Icon=/10-Base/ShortCuts/icons/inkscape.svg
Actions=new-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=inkscape

