[Desktop Entry]
Name=Inkscape
Comment=Create and edit Scalable Vector Graphics images
Exec=/usr/bin/inkscape %F
Icon=/10-Base/ShortCuts/icons/inkscape.svg
Categories=Graphics;VectorGraphics;GTK;
StartupNotify=true
Type=Application
Terminal=false
MimeType=image/svg+xml;
Keywords=image;editor;vector;drawing;
Actions=new-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=inkscape

