[Desktop Entry]
Type=Application
Name=Lite XL
Comment=A lightweight text editor written in Lua
Exec=lite-xl %F
Icon=/10-Base/ShortCuts/icons/lite-xl.svg
Type=Application
Terminal=false
StartupWMClass=lite-xl
Categories=Application;Development;TextEditor;IDE;
MimeType=text/plain;inode/directory;

