[Desktop Entry]
Encoding=UTF-8
Name=Project Libre
Comment=The Smarter Way to Manage Projects
Exec=java -Xms128m -Xmx768m -jar /20-DEV/projectlibre/projectlibre.jar %F
Icon=/10-Base/ShortCuts/icons/project-libre.png
Categories=Application;Development
Version=1.0
Type=Application
Terminal=0
Terminal=false
