[Desktop Entry]
Name=pulsar
Comment=A Community-led Hyper-Hackable Text Editor
Exec=/usr/bin/pulsar %F
Icon=/10-Base/ShortCuts/icons/pulsar.png
Categories=Application;Development;TextEditor
StartupNotify=true
Type=Application
Terminal=false
StartupWMClass=Pulsar

