[Desktop Entry]
Encoding=UTF-8
Name=Robo 3T
Comment=free lightweight GUI for MongoDB
Exec=/10-Base/bin/start-mongo
Icon=/10-Base/ShortCuts/icons/robo3T.png
Categories=Database;Development;Console
StartupNotify=false
Version=1.1
Type=Application
Terminal=0
Terminal=false
MimeType=text/plain;x-directory/normal;inode/directory;
