[Desktop Entry]
Name=Snowflake SSH Client
Comment=Connect to an SSH server with snowflake
Exec=java -jar /30-EXT/snowflake/snowflake.jar
Icon=/10-Base/ShortCuts/icons/snowflake.png
Categories=java;Network;SSH
StartupNotify=false
Type=Application
Terminal=false
Keywords=ssh;connect;
