[Desktop Entry]
Name=SourceGit
Comment=Open-source & Free Git GUI Client
Exec=/usr/bin/sourcegit
Icon=/10-Base/ShortCuts/icons/sourcegit.png
Categories=Development
StartupNotify=false
Type=Application
Terminal=false
MimeType=inode/directory;
