[Desktop Entry]
Name=VP-UML CE
Comment=Modelling Software - Community Edition
Exec=/usr/bin/Visual_Paradigm %F
Icon=/10-Base/ShortCuts/icons/vpuml.png
Categories=Application;Development;Modeller;Java;C#;IDE
Type=Application
Terminal=false
Keywords=uml;editor;
